[buildout]
newest = false
parts =
    python
    zums_registration
    zums_jd_test_project
    zumsd_users
eggs =
    zums
    msgpack-python
    pyzmq-static
    argparse
download-cache = ${buildout:directory}/../downloads_buildout
eggs-directory = ${buildout:directory}/../eggs_buildout
develop = .

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[zums_registration]
recipe = djangorecipe
version = 1.3
projectegg = zums
project = zums.registration
settings = settings
test = zums_registration
testrunner = zums_registration-test
eggs = ${buildout:eggs}

[zums_jd_test_project]
recipe = djangorecipe
version = 1.3
projectegg = zums_jd_test_project
project = zums_jd_test_project
settings = settings
test = zums_jd_test_project
testrunner = zums_jd_test_project-test
eggs = ${buildout:eggs}

[zumsd_users]
recipe = djangorecipe
version = 1.3
projectegg = zums
project = zums.zumsd_users
settings = settings
test = zumsd_users
testrunner = zumsd_users-test
eggs = ${buildout:eggs}
